---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://knowledgeislands.info/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://knowledgeislands.info/philosophy/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://knowledgeislands.info/model/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://knowledgeislands.info/get-started/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://knowledgeislands.info/contribute/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://knowledgeislands.info/projects/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
{%- for project in projectPages %}
  <url>
    <loc>{{ site.url }}/projects/{{ project.slug }}/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
{%- endfor %}
{%- for guide in collections.guides %}
  <url>
    <loc>{{ site.url }}{{ guide.url }}</loc>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
{%- endfor %}
{#- Every prompting guide, listed by where it lives rather than by hand: the collection used to
    appear here as the single `/guidance/` hub URL, so thirteen model pages were never submitted
    at all (KI-WEB-SITE-028). #}
{%- for item in collections.all %}
{%- if item.url and item.url.startsWith('/prompting/') %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
{%- endif %}
{%- endfor %}
  <url>
    <loc>{{ site.url }}/optional-tools/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
</urlset>
